@model IEnumerable<ShopThoiTrang.Framework.NguoiDung>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>User</h2>
<hr />
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.username)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.password)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TenNguoiDung)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GioiTinh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SDT)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DiaChi)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LoaiNguoiDung)
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr id="row_@item.MaNguoiDung">
                        <td>
                            @Html.DisplayFor(modelItem => item.username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenNguoiDung)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GioiTinh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SDT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiaChi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LoaiNguoiDung)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.MaNguoiDung }) |
                            @Html.ActionLink("Details", "Details", new { id = item.MaNguoiDung }) |
                            @Ajax.ActionLink("Delete", "Delete", new { @id = item.MaNguoiDung }, new AjaxOptions
                            {
                           Confirm = "Delete user: " + @item.username + " [" + @item.TenNguoiDung + "] ?",
                           OnComplete = "$('#row_" + @item.MaNguoiDung + "').remove()",
                           HttpMethod = "Delete"
                            })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


